<div class="streamView">
    <h1> {{ ::title }}</h1>

    <!-- Genre Selector -->
    <div class="genre-selector" >
        <h3 class="title">Charts By Genre</h3>
        <div class="btn-group">
            <button ui-sref="charts({genre:'{{genre.link}}'})" ui-sref-opts="{reload:true}" class="button inline" ng-repeat="genre in genres">{{genre.title}}</button>
        </div>
    </div>

    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-container='".mainView"'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="data in data">

                <react component="components/common/track-preview/track-preview"
                       id="data.id"
                       artwork_url="data.artwork_url"
                       title="data.title"
                       user="data.user"
                       likes_count="data.likes_count"
                       reposts_count="data.reposts_count"
                       favoritings_count="data.favoritings_count"
                       comment_count="data.comment_count"
                       duration="data.duration"
                       type="data.type"
                       genre="data.genre"
                       license="data.license"
                       permalink_url="data.permalink_url"
                       user_favorite="data.user_favorite"
                       user_reposted="data.user_reposted">
                </react>
                <!--<tracks data="data.track" type="data.type" user="data.user"/>-->

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/common/loading.html'"></div>

</div>
